<title><%= title %></title>
    <!-- JSMol and Angular -->
    <script src="/js/jsmol/JSmol.min.js"></script>
    <% include ./head_shared %>

    <!-- Angular controller for networking and business logic. -->
    <script src="/js/loop_controller.js"></script>

    <!-- Script containing non-angular view functions. -->
    <script src="/js/view_functions.js"></script>
