
<div id="loading-div">
  <div class="white card-panel" id="loading-card">
    <span class="flow-text black-text">{{aVars.lang.loadingText}}</span>
    <div class="preloader-wrapper small active right" id="load-spinner">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
